{% import "_macros/pageNumbers.twig" as pages %}

{{ pages.pageNumbers("events-table", eventsPaginated.getRefreshUrl(), eventsPaginated.getTotalPages(), eventsPaginated.getPage()) }}
<table class="system-table">
    <tr>
        <th>Type</th>
        <th>Event</th>
        <th>Status</th>
    </tr>
    {% for event in eventsPaginated.getResults() %}
        <tr>
            <td>
                <span class="bold" style="color:{{ event.getTypePrimaryColor() }}">
                    {{ event.getTypeName() }}
                </span>
            </td>
            <td>{{ event.getTitle() }}</td>
            <td>
                {% if event.getStatus() == true %}
                    <span class="green-text bold">Open</span>
                {% else %}
                    <span class="red-text bold">Closed</span>
                {%  endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{{ pages.pageNumbers("events-table", eventsPaginated.getRefreshUrl(), eventsPaginated.getTotalPages(), eventsPaginated.getPage()) }}