{% import "backend/_macros/pageNumbers.twig" as pages %}

<div style="float:left;">
{{ pages.pageNumbers("events-table", eventsPaginated.getRefreshUrl(), eventsPaginated.getTotalPages(), eventsPaginated.getPage(), "eventQueryParams") }}
</div>
<table class="system-table table-striped">
    <tr>
        <th style="width:120px;">Type</th>
        <th>Event</th>
        <th style="width:230px;">Created</th>
        <th style="width:90px;">Status</th>
    </tr>
    {% for event in eventsPaginated.getResults() %}
        <tr onclick="window.location.href='/system/events/{{ event.getId() }}'">
            <td style="color:#fff;background-color:{{ event.getTypePrimaryColor() }}">
                <span class="bold">{{ event.getTypeName() }}</span>
            </td>
            <td>{{ event.getTitle() }}</td>
            <td>{{ event.getCreatedTs()|date("jS M Y \\@ g:ia") }}</td>
            <td>
                {% if event.getStatus() == true %}
                    <span class="green-text bold">Open</span>
                {% else %}
                    <span class="red-text bold">Closed</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{{ pages.pageNumbers("events-table", eventsPaginated.getRefreshUrl(), eventsPaginated.getTotalPages(), eventsPaginated.getPage(), "eventQueryParams")  }}