{% extends "backend/_layouts/system.twig" %}

{% block head %}
    <link href="/css/backend/events/create.css" rel="stylesheet" type="text/css">
    <link href="/plugin/editor/ui/trumbowyg.min.css" rel="stylesheet" type="text/css">
    <script src="/js/backend/events/edit.js" type="text/javascript"></script>
    <script src="/js/backend/events/ticketsolve.js" type="text/javascript"></script>
    <script src="/plugin/editor/trumbowyg.min.js"></script>
    <script type="text/javascript">
        var eventId = "{{ event.getId() }}";
    </script>
{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="block-transparent">
        <div id="banner-wrapper">
            {% include "backend/events/_partials/banner-image.twig" %}
        </div>

        <h1 style="background-color: {{ event.getTypePrimaryColor() }};">
            {{ event.getTitle() }}
            {% if event.getStatus() %}
                <div class="event-status status-open">Open</div>
            {% else %}
                <div class="event-status status-closed">Closed</div>
            {% endif %}
        </h1>

        <br>
        {% spaceless %}
            <div class="tab-group">
                <div class="tab-object tab-active" data-tabgroup="event" data-element="tab-page-details">Details</div>
                <div class="tab-object" data-tabgroup="event" data-element="tab-page-images">Images</div>
                <div class="tab-object" data-tabgroup="event" data-element="tab-page-dates">Dates &amp; Times</div>
            </div>
        {% endspaceless %}
        <br><br>


        <div class="tab-page tab-page-active" id="tab-page-details">
            {% include "backend/events/_events-form.twig" %}
        </div>

        <div class="tab-page" id="tab-page-images">
            <!--
            <form id="banner-upload-form" class="upload-form" target="upload-iframe-banner" action="/system/events/{{ event.getId() }}/banner-upload" method="post" enctype="multipart/form-data" style="float:left;margin-right:15px;">
                <p style="font-size:0.8em;color:#333;">Banner Images will be resized to 1920x800.</p>
                <input type="file" name="file">
                <button type="submit" name="submit">Upload Banner</button>
                <iframe id="upload-iframe-banner" name="upload-iframe-banner" style="display:none;"></iframe>
                {# include "backend/_partials/spinner.twig" #}
            </form>
            -->

            <form id="image-upload-form" class="upload-form" method="post" target="upload-iframe-images"
                  action="/system/events/{{ event.getId() }}/image-upload" enctype="multipart/form-data"
                  style="float:left;">
                <p style="font-size:0.8em;color:#333;">You may select multiple files. Images will be resized to
                    1920x800.</p>
                <input type="file" name="file[]" multiple>
                <button type="submit" name="submit">Upload Images</button>
                <iframe id="upload-iframe-images" name="upload-iframe-images" style="display:none;"></iframe>
                {% include "backend/_partials/spinner.twig" %}
            </form>

            <div style="clear:both;"></div>
            <br>

            <div id="event-images">
                {% include "backend/events/_partials/event-images.twig" %}
            </div>

        </div>
    </div>

    <div class="tab-page" id="tab-page-dates">
        <div class="block-transparent">
            <form id="syncTicketsolve" onsubmit="return false;" style="text-align: center;">
                <button onclick="ajaxSyncShowings('{{ event.getId() }}')">
                <img src="/img/backend/icons/dark/download-64.png" style="width: 24px; height: 24px;" /> Re-sync with Ticketsolve
                </button>
            </form>

            <form id="newShowingForm" onsubmit="return false;">
                <label for="dateTime">Date &amp; Time</label>
                <input id="showingDate" name="showingDate" type="date" class="form-input-mini"
                       value="{{ "now"|date("Y-m-d") }}">
                <input id="showingTime" name="showingTime" type="time" class="form-input-mini" value="19:00">

                <br>
                <label for="showingType">Type</label>
                <select name="showingType" id="showingType">
                    <option value="2D">2D</option>
                    <option value="3D">3D</option>
                </select>

                <br>
                <label for="location">Location</label>
                <select name="showingLocation" id="showingLocation">
                    <option value="0">Castle Cinema</option>
                    <option value="1">Market Theatre</option>
                    <option value="2">Gallery</option>
                </select>

                <br>
                <label>&nbsp;</label>
                <button type="button" id="createShowingBtn">Add Showing</button>

            </form>
            <form>
                <div id="event-showings-table">
                    {% include "backend/events/_partials/event-showings-table.twig" %}
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}