{% macro pageNumbers(domElement, refreshUrl, totalPages, currentPage)  %}
    {% set displayNumber = 10 %}
    {% set siblingNumber = 3 %}

    <div class="pages" data-refreshurl="{{ refreshUrl }}" data-domelement="{{ domElement }}">
        {% if(totalPages <= displayNumber) %}

            {% for i in 1..totalPages %}
                {{ _self.renderNumber(i, currentPage) }}
           {% endfor %}

        {% else %}

            {{ _self.renderNumber(1, currentPage) }}

            {% for i in currentPage-siblingNumber..currentPage+siblingNumber %}
                {% if(i > 1 and i < totalPages) %}
                    {{ _self.renderNumber(i, currentPage) }}
                {% endif %}
            {% endfor %}

            {{ _self.renderNumber(totalPages, currentPage) }}

        {% endif %}
    </div>

{% endmacro %}


{% macro renderNumber(number, currentPage) %}
    {% if(currentPage == number) %}
        {% set class = 'page-number page-active' %}
    {% else %}
        {% set class = 'page-number' %}
    {% endif %}
    <div class="{{ class }}" data-page="{{ number }}">{{ number }}</div>
{% endmacro %}