{% extends "frontend/_layouts/main.twig" %}

{% block head %}
	<link rel="stylesheet" href="/css/frontend/vendors/lity.css">
	<link rel="stylesheet" href="/css/frontend/events/detail.css">
{% endblock %}

{% block title %}
    {{ event.getTitle() }}
{% endblock %}

{% block slider %}
<section class="wy-slider">
	<ul class="wy-slider__container">
		{% for image in event.getImages() %}
		<li class="wy-slider__slide">
			<img src="{{ image.getUrl() }}" alt="{{ event.getTitle() }}">
		</li>
		{% endfor %}
	</ul>
</section>
{% endblock %}

{% block content %}
<section class="wy-details">
	<h1 class="wy-details__title type--{{ event.type() }}">
		{{ event.getTitle() }}
		{% if event.getCertificate() %}
		<span class="wy-details__cert">{{ "(#{event.getCertificate()})" }}</span>
		{% endif %}
	</h1>
	{% if event.getType() == 1 %}
	<ul class="wy-details__info--film">
		<li class="wy-details__info-item--film">
			{% for genre in event.getGenres() %}
			<span class="wy-details__info-item--genre">{{ genre.getName() }}</span>
			{% endfor %}
		</li>
		{% if event.getRunningTime() %}
		<li class="wy-details__info-item--divider"> | </li>
		<li class="wy-details__info-item--film">{{ event.getRunningTime() }} mins.</li>
		{% endif %}
	</ul>
	<ul class="wy-details__info--talent">
		<li class="wy-details__info-item--star">
			{{ event.getStarring() }}
		</li>
		<li class="wy-details__info-item--director">Dir. {{ event.getDirector() }}</li>
	</ul>
	{% else %}
	<ul class="wy-details__info">
		{% for showing in event.getUpcomingShowings()|slice(0, 1) %}
		{% if event.getRunningTime() %}
		<li class="wy-details__info-item type__text-{{ event.getType() }}">{{ showing.getRunningTime() }} (est.)</li>
		{% endif %}
		<li class="wy-details__info-item">{{ showing.getTs()|date('l jS F: g:ia') }}</li>
		<li class="wy-details__info-item">{{ showing.getLocationName() }}</li>
		{% endfor %}
		<li class="wy-details__info-item">{{ event.getPrices() }}</li>
	</ul>
	{% endif %}
	<br />
	<a class="wy-details__button" href="#book-online">Book Online <span style="vertical-align:middle" class="icon-arrow-down-c"></span></a>
	<a class="wy-details__button" href="/events/all"><span style="vertical-align:middle" class="icon-arrow-left"></span> See All Events</a>
</section>
<section class="wy-body">
	<section class="wy-contain">
		{% if event.getTrailer() %}
		<div class="wy-trailer l-50"
			 style="background-image: url(http://img.youtube.com/vi/{{ event.getTrailer() }}/hqdefault.jpg);background-repeat: no-repeat;background-size:cover;background-position: center;">
			<a class="wy-button" href="https://www.youtube.com/watch?v={{ event.getTrailer() }}" data-lity>
				<span class="icon-social-youtube" style="vertical-align:middle;padding-right:5px;"></span> Watch Trailer
			</a>
			<div class="wy-trailer__overlay"></div>
		</div>
		{% endif %}
		<div class="wy-showings type--{{ event.getType() }} {% if event.getTrailer() %}l-50"{% else %}" style="width: 100%; border-radius: 0 0 4px 4px;"{% endif %}>
			<h2 class="wy-showings__title">Upcoming Showings</h2>
			<table class="wy-showings__list">
				{% for showing in event.getUpcomingShowings()|slice(0, 5) %}
				<tr>
					<td class="wy-showings__list-item">{{ showing.getTs()|date('l jS F: g:ia') }}</td>
					<td>| {{ showing.getLocationName() }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</section>
	<div class="wy-synopsis">
		<h2 class="wy-synopsis__title type__text--{{ event.getType() }}">Synopsis</h2>
		<p class="wy-synopsis__text">{{ event.getDescription() }}</p>
	</div>
	<div id="book-online" class="wy-book">
		<h2 class="wy-book__title">Book Tickets</h2>

		<table class="wy-booking__table">
			{% for key, day in days %}
				<tr class="wy-booking__row">
					<td class="wy-booking__date">
						<span class="wy-booking__text"> {{ key|date("l jS M") }}</span>
					</td>
					<td class="wy-booking__shows">
						{% for showing in day %}
							<a class="wy-booking__button{% if showing.type == "3D" %} three-d{% endif %}">
								<span>{{ showing.getTs()|date("g.ia") }}</span><br />
								<span>{{ showing.getLocationname() }}</span>
							</a>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>

		{{ event.getTicketsolve() }}
		<iframe id="ticketsolve-iframe" src="https://wyeside.ticketsolve.com/#/products/regular" scrolling="no" seamless="seamless" width="100%" frameborder="0" kwframeid="1">
			Your browser does not support iframes, please use a browser that does.
		</iframe>

	</div>
	<hr />
	<section style="text-align: center;">
		<a href="/events/all" class="wy-button" style="margin:2em 0 3em;">Explore more Events</a>
	</section>
</section>
{% endblock %}

{% block scripts %}
<script src="/plugin/lity/lity.min.js" type="text/javascript"></script>
{% endblock %}
