<footer class="wy-foot">
	<section class="wy-foot__upcoming">
		<h2 class="wy-foot__title">Upcoming Events</h2>
		<ul class="wy-foot__slider">
			{% for event in flash.upcomingEvents %}
			<li class="wy-foot__slide">
				<a href="{{ event.getEventUrl() }}">
					<img src="{{ event.getBannerImageUrl() }}" alt="{{ event.getTitle() }}"> <!-- Need to resolve image URLs -->
					<div class="wy-foot__slide-title type--{{ event.getType() }}"><span>{{ event.getTitle() }}</span></div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section class="wy-foot__details">
		<ul class="wy-foot__detail-items">
			<li class="wy-foot__detail-item">Wyeside Arts Centre, Castle Street, Builth Wells, Powys, LD23BN</li>
			<li class="wy-foot__detail-item wy-foot__tel"><a href="tel:01982 552 555">01982 552 555</a></li>
		</ul>
		<ul class="wy-foot__copy">
			<li class="wy-foot__copy-item">&copy; Wyeside Arts Centre 2016</li> |
			<li class="wy-foot__copy-item"><a href="/terms">Terms and Conditions</a></li> |
			<li class="wy-foot__copy-item"><a href="/sitemap">Sitemap</a></li> |
			<li class="wy-foot__copy-item"> <div id="google_translate_element"></li>
		</ul>
	</section>
</footer>
