<table class="system-table table-striped" style="font-size:0.9em;">
    <tr>
        <th>Date &amp; Time</th>
        {% if event.getTypeName() == "Cinema" %}
            <th style="width:100px;">Type</th>
        {% endif %}
        <th>Location</th>
        <th style="width:100px;">&nbsp;</th>
    </tr>
    {% for showing in event.getUpcomingShowings() %}
        <tr style="font-size:0.9em;">
            <td>{{ showing.getTs()|date("D jS M Y \\@ g:ia") }}</td>
            {% if event.getTypeName() == "Cinema" %}
            <td>
                {% if showing.getType() == null %}
                    <select style="width:auto;" onchange="ajaxUpdateDateType('{{ showing.getId() }}', this)">
                        <option value="">Select...</option>
                        <option value="2D">2D</option>
                        <option value="3D">3D</option>
                    </select>
                {% else %}
                    {{ showing.getType() }}
                {% endif %}
            </td>
            {% endif %}
            <td>{{ showing.getLocationName() }}</td>
            <td><a href="javascript:ajaxDeleteShowing('{{ showing.getId() }}')">Delete</a></td>
        </tr>
    {% endfor %}
    {% if event.getUpcomingShowings()|length == 0 %}
        <tr>
            <td colspan="3" style="text-align: center">No Showings</td>
        </tr>
    {% endif %}
</table>