{% extends "backend/_layouts/system.twig" %}

{% block head %}
    <script src="/js/backend/users/index.js" type="text/javascript"></script>
{% endblock %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="block-dark">
        <h1>Users</h1>
        <div class="title-button" onclick="window.location.href='/system/users/create'">
            <img src="/img/backend/icons/add-user-64.png" style="width:24px;height:24px;">
            <span style="vertical-align:baseline;padding-left:10px;">New User</span>
        </div>
    </div>

    <div class="block-light">
        <table class="system-table table-striped">
            <tr>
                <th style="width:120px;">Username</th>
                <th>Email</th>
                <th style="width:120px;">Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td>
                        <img src="/img/backend/icons/dark/edit-3-64.png"
                             title="edit"
                             class="fade-on-hover pointer"
                             style="padding:5px;width:24px;height:24px;"
                             onclick="editUser({{ user.getId() }})"
                        >
                        <img
                                src="/img/backend/icons/dark/x-mark-3-64.png"
                                title="delete" class="fade-on-hover pointer"
                                style="padding:5px;width:24px;height:24px;"
                                onclick="deleteUser({{ user.getId() }}, '{{ user.getUsername() }}')"
                        >
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}